@font-face {
  font-family: 'Pixel Font';
  src: url('pixelFont.ttf') format('truetype');
}

body {
  background: black;
  font-family: 'Pixel Font', sans-serif;
}

#game-window{
  /* padding: 20px; */
  resize: both;
  position: relative;
  background: black;
  height: 100vh;
  width: 100vw;
}

#game-container {
  width: 1920px;
  height: 1080px;
  /* padding: 50px; */
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#history-container, #game-process-container{
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
}

.history-image{
  position: absolute;
  width: 1239px;
  left: 50%;
  height: 700px;
  top: 50px;
  transform: translateX(-50%);
}


.history-actions{
  position: absolute;
  width: 100%;
  height: 320px;
  bottom: 0;
  color: white;
  font-size: 48px;
}

.history-button{
  margin: 20px;
}

.history-button{
  cursor: pointer;
}



.opacity-0{
  opacity: 0;
}

.history-slide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.history-slide.active{
  visibility: visible;
  opacity: 1;
}

.visibility-hidden{
  visibility: hidden;
}

.slide-btn{
  width: 200px !important;
  min-width: 200px;
}

.rotate-180{
  transform: rotate(180deg);
}
