/* body{
  background-color: black;
}

#game-container{
  position: absolute;
} */

/* #history-container{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  transform: translateY(-50%);
  background-color: #303030;
} */

/* .history-image{
  position: absolute;
  width: 70%;
  top: 5%;
  left: 50%;
  height: 0;
  padding-top: 36.25%;
  transform: translateX(-50%);
  background-color: #757474;
}

.history-actions{
  position: absolute;
  width: 100%;
  height: calc(30vh - 50px);
  bottom: 10px;
  color: white;
}

.history-button{
  background-color: #eaeaea;
  width: 100px;
  height: 100px;
  margin: 10px;
} */


body {
  background: black;
  /* padding: 20px; */
}

.very-specific-design {
  width: 1920px;
  height: 1080px;
  padding: 50px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.scaleable-wrapper {
  /* padding: 20px; */
  resize: both;
  position: relative;
  background: black;
  height: 100vh;
  width: 100vw;
}

.ui-resizable-se {
  width: 10px;
  height: 10px;
  background: orange;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bigred {
  color: red;
  font-size: 5rem;
}
