@font-face {
  font-family: 'Pixel Font';
  src: url('pixelFont.ttf') format('truetype');
}

body {
  background: black;
  font-family: 'Pixel Font', sans-serif;
}

#game-window{
  /* padding: 20px; */
  resize: both;
  position: relative;
  background: black;
  height: 100vh;
  width: 100vw;
}

#game-container {
  width: 1920px;
  height: 1080px;
  /* padding: 50px; */
  text-align: center;
  /* background: white; */
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.game-stage{
  position: relative;
  height: 100%;
  width: 100%;
}

#history-container{
  background: black;
}

.history-image{
  position: absolute;
  width: 1239px;
  left: 50%;
  height: 700px;
  top: 50px;
  transform: translateX(-50%);
}


.history-actions{
  position: absolute;
  width: 100%;
  height: 320px;
  bottom: 0;
  color: white;
  font-size: 48px;
}

.history-button{
  margin: 20px;
}

.history-button{
  cursor: pointer;
}



.opacity-0{
  opacity: 0;
}

.history-slide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.history-slide.active{
  visibility: visible;
  opacity: 1;
}

.visibility-hidden{
  visibility: hidden;
}

.slide-btn{
  width: 200px !important;
  min-width: 200px;
}

.rotate-180{
  transform: rotate(180deg);
}

/* Gameplay styles*/

#gameplay-container{
  color: #0C0646;
  background: white;
}


.gameplay-background{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity .9s ease;
}

.help-btn{
  top: 50px;
  left: 50px;
  position: absolute;
  height: 110px;
  width: 110px;
  background: url('img/elements/circle green.png');
  background-size: cover;
  background-position: center;
  font-size: 50px;
}
.logout-btn{
  top: 50px;
  right: 50px;
  position: absolute;
  height: 110px;
  width: 110px;
  background: url('img/elements/circle red.png');
  background-size: cover;
  background-position: center;
}

.date-container{
  position: absolute;
  top: 50px;
  right: 180px;
  background: url('img/elements/date container.png');
  background-size: cover;
  background-position: center;
  width: 343px;
  height: 110px;
  opacity: .75;
  font-size: 42px;
}

.logs-container{
  position: absolute;
  bottom: 375px;
  right: 50px;
  height: 500px;
  width: 660px;
  overflow: hidden;
  font-size: 30px;
}

.balance-container{
  position: absolute;
  bottom: 200px;
  right: 50px;
  background: url('img/elements/balance and account.png');
  background-size: cover;
  background-position: center;
  width: 660px;
  height: 151px;
  opacity: .75;
}

.topup-container{
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: url('img/elements/top up.png');
  background-size: cover;
  background-position: center;
  width: 362px;
  height: 116px;
  opacity: .75;
  font-size: 45px;
}

.event-container, .topup-event-container{
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 1060px;
  height: 840px;
  opacity: 1;
  padding: 75px;
  font-size: 38px;
  transition: opacity .5s ease;
  background-size: cover !important;
  background-position: center !important;
}

.event-container .event-text{
  height: 463px;
}

.event-container{
  background: url('img/elements/bg yellow.png');
}

.topup-event-container{
  font-size: 45px;
  background: url('img/elements/bg green.png');
}

.topup-event-container .event-text{
  height: 410px;
}

.event-button{
  background-color: rgba(0,0,0,0);
  background-image: url('img/elements/event button.png');
  width: 444px;
  height: 224px;
  background-position: center;
  background-size: cover;
  border: none;
  padding: 20px;
  font-size: 31px;
}

.top-up-event-button{
  background-color: rgba(0,0,0,0);
  background-image: url('img/elements/date container.png');
  background-size: cover;
  background-position: center;
  width: 380px;
  height: 121px;
  font-size: 45px;
  border: none;
}

.game-button{
  opacity: .75;
  cursor: pointer;
}

.game-button:hover{
  opacity: 1;
}

.balance{
  position: absolute;
  right: 355px;
}

.balance-title {
  font-size: 30px;
}

.balance-data {
  font-size: 50px;
  line-height: 50px;
}

.account{
  position: absolute;
  left: 355px;
}

.logs-container p:nth-child(1){
  opacity: .25;
}

.logs-container p:nth-child(2){
  opacity: .5;
}
